<h2>All Orders</h2>

<% @orders.each do |order| %>
  <p>Name: <%= order.name %></p>
  <p>Email: <%= order.email %></p>
  <p>Line Items: </p>
  <ul>
    <% order.line_items.each do |item| %>
    <li><%= item.quantity %> x <%= item.product.name %></li>
    <% end %>
  </ul>
  <%= link_to "Delete order", order_path(order), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<br>
---------------------------------------------------------------------------------------------------
<br>

<%= link_to 'Home', root_path %>
<br>
<%= link_to 'Products', products_path %>
