<h2>All Products</h2>

<% @products.each do |product| %>
  <p><%= product.name %>: <%= number_to_currency(product.price) %></p>
  <p>
  <%= link_to "Show", product_path(product.id) %> |
    <%= link_to "Edit", edit_product_path(product) %> |
    <%= link_to "Delete", product_path(product), method: :delete, data: {confirm: "Are you sure?"} %>
    <%= button_to "Add #{product.name} to cart", line_items_path(product_id: product.id) %>
  </p>
<% end%>

<% @products.each do |product| %>
<div class="container mt-4 mb-5">
  <div class="row d-flex align-items-center">

    <div class="col-md-4 mb-5 ">
      <div class="card text-center h-100 border-0 card-md">
        <div class="card-body bgCover py-5 " style="background-image: url(https://bit.ly/2zBjQuq);height: 320px">
          <div class="d-flex" style="position: relative">
            <div class="tag text-black" style="position: absolute;top:-48px; background: #FFD369;">
              <p class="px-1">Classic</p>
            </div>
          </div>
        </div>
        <div class="card-body d-flex text-black justify-content-between ">
          <p class="pl-2" style="font-size:20px"><%= product.name %></p>
          <p class="font-weight-bold pr-2" style="font-size:20px"><%= number_to_currency(product.price) %></p>
        </div>
          <%= button_to "Add #{product.name} to cart", line_items_path(product_id: product.id), class: "btn btn-outline-warning btn-block px-5 py-3 btn-border-0 text-black font-weight-bold" %>
      </div>
    </div>

  </div>
</div>
<% end%>

<br>
<%= link_to 'Home', root_path %>
<br>
<%= link_to 'Cart', cart_path(@current_cart) %>
